.sidenav{
	position: fixed!important;
}
.topnav{
	position: fixed!important;
}
Card{
	text-align: center;
}
.card{
	justify-content: center;
}
h1{
	text-align: center;
}
.text{
	justify-content: center!important;
}